{% extends 'polls/base.html' %} {% block content %} {% if user.is_authenticated %}
<br>

<div class="jumbotron">
    <h1 class="display-3">Witaj {{ user.username}}!</h1>
    <p class="lead">Możesz dodać swoje zajęcia, lub utworzyć wydarzenie.</p>
    <div class="row">
        <div class="col-2">
            <a href="{% url 'polls:plans' %}" class="btn btn-primary btn-lg">
                Dodaj Zajęcia
            </a>
        </div>
        <div class="col-1">
            <a href="{% url 'polls:show_plans' %}" class="btn btn-info btn-lg">
                Pokaż zajęcia
            </a>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-3">

        </div>

        <div class="col-1">
            <form class="row" method="POST" action="{% url 'polls:delete_plans' %}">
                    {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń wszystkie plany</button>
            </form>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <a href="{% url 'polls:event' %}" class="btn btn-dark btn-lg">
                Utwórz wydarzenie
            </a>
        </div>
        <div class="col-1">
            <a href="{% url 'polls:show_events' %}" class="btn btn-secondary btn-lg">
                Pokaż wydarzenia
            </a>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-3">

        </div>

        <div class="col-1">
            <form class="row" method="POST" action="{% url 'polls:delete_events' %}">
                    {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń wszystkie wydarzenia</button>
            </form>
        </div>
        {% endif %}
    </div>

</div>
<p>
    <a href="{% url 'polls:logout' %}" class="btn btn-warning btn-lg">
        Wyloguj
    </a>
</p>


{% else %}
<a href="{% url 'polls:login' %}" class="btn btn-primary btn-lg">
    Zaloguj
</a>
{% endif %} {% endblock %}